body {
	background-image: url("/wildlife2.jpg");
	background-size: cover;
}

.navbar {
	width: 100%;
	padding-top: 15px;
}

.btn {
	color: white;
	background-color: red;
	border: 2px solid red;
	border-radius: 5px;
}

.btn:hover {
	color: black;
	background-color: white;
}