<h2>Fill the form to add animals</h2>

<form action="/animals" method="post">
<div class="form-group">
<label for="name">Animal's name</label>
<input id="name" name="name" class="inputs" type="text">
<button type="submit" class="btn">Add Animal</button>
</div>
</form>

<a href="/">Home</a>